body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  box-sizing: border-box;
  background: rgb(110, 110, 110);
}

#calculator {
  border: 1px solid grey;
  background: rgb(49, 49, 49);
  color: whitesmoke;
  padding: .4rem;
  
  &-display{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50px;
    background: rgb(82, 82, 82);
    margin: 2rem auto;
    text-align: right;
    font-size: 1.3rem;
  }

	&-operations {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		width: 100%;
		margin-bottom: 1rem;

		.calculator-operation {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.5rem;
			font-weight: 600;
			border: 1px solid rgb(82, 82, 82);
			width: 50px;
			height: 50px;
			cursor: pointer;

			&:hover {
        background: darken(lightgray, 40);
			}
		}
	}
	&-button-container {
		display: flex;

		&-numbers {
			flex: 3;
			display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: .4rem;

			.calculator-number-btn {
				height: 50px;
				width: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid rgb(82, 82, 82);
        cursor: pointer;
        
        &:hover{
          background: darken(lightgray, 40);
        }
			}
		}

		&-result {
			font-size: 2rem;
			font-weight: 600;
			flex: 1;
			background: teal;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:hover {
				background: darken(teal, 5);
			}
		}
	}
}
